.navbar-nav-maerials>li>a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 9px;
    margin-top: 0;
    margin-bottom: 0;

    vertical-align: bottom;
}

.navbar-nav-main {
    li>a {
        font-size: 1.2rem;
    }
}